/* Add CSS styles for your web site here and use them in index.html. */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#mainPhoto{
    display: cover;
   
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Adds a subtle border */
}
.menu-icon {
    width: auto;
    height: 53px;
    padding-left: 30px;
}
.user-icon {
    width: auto;
    height: 53px;
    padding-right: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-icon, .user-icon {
    cursor: pointer;
}

.header-title{
    /* flex-grow: 1; */
    text-align: center;
    width: 105px;
    height: 53px;
}

main {
    text-align: center;
    padding: 20px;
}

.vehicle-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    padding: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

}

.vehicle-image {
    flex: 0 0 auto;  
    width: auto; 
    height: 250px; 
    margin-right: 20px;
}



.scroll-container {
    display: inline-flex; /* Ensures images are lined up horizontally */
}


.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#vehicle-search {
    width: 50%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

h1 {
    color: #333;
}
